* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.blue-bg {
  background-color: #032541;
  width: 100%;
}

.small-font-opac {
  font-size: 0.7rem;
  opacity: 0.2;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
h2 {
  position: relative;
  margin: 50px;
  z-index: 1;
  transform: translate(10px, 70px);
  padding-left: 100px;
}

section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.app_container {
  display: flex;
  gap: 15px;
}

.sort_section {
  width: 20%;
}

/* .movies_section15px {
  width: 80%;
} */
